@CHARSET "UTF-8";

#fileEditorMainContainer{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:-1;
	opacity:0;
	visibility:hidden;
	-webkit-transition: opacity 0.2s;
}


#fileEditorMainContainer label
{
	width:317px;
	height:25px;
	float:left;
	clear:left;
	display:block;
	margin:0 10px 3px 0;
	margin-top:10px;
	font:13px Segoe UI, Arial, Arial, Helvetica, sans-serif;
	line-height:25px;
	color:#828282;
}

#fileEditorMainContainer input[type=text],#fileEditorMainContainer input[type=password]
{
	float:left;
	clear:left;
	display:block;
	height:17px;
	width:205px;
	border:1px #e2e2e2 solid;
	outline:none;
	padding:5px;
	font:13px Segoe UI, Arial, Arial, Helvetica, sans-serif;
	color:#828282;
	line-height: 22px;
}

#fileEditorMainContainer #browser_address
{
	width: 295px;
}

#fileEditorMainContainer input[type=submit], #fileEditorMainContainer input[type=button], #fileEditorMainContainer button
{
	min-width:80px;
	display:block;
	float:left;
	clear:left;
	text-align:center;
	font:13px Segoe UI, Arial, Arial, Helvetica, sans-serif;
	color:#707070;
	margin:20px 0;
	padding:5px 17px;
	cursor: pointer;
	border:solid 1px #c0c2c4;
	border-radius:6px;
	background-image: linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, rgb(237,237,237)),
		color-stop(1, rgb(255,255,255))
	);
}

#fileEditorBackHider
{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 100;
	background: #000;
	opacity:0.6;
	display:block;
}

#fileEditorOuter
{
	position:absolute;
	left:50%;
	top:100px;
	width:972px;
	height: 532px;
	margin: 0 0 0 -486px;
	background: #757575;
	padding:5px;
	z-index: 100;
	opacity:0;
	-webkit-transition: opacity 0.3s;
}

#fileEditorOuter label
{
	margin:0;
}

#fileEditorOuter_InnerShell
{
	position:relative;
	float:left;
	width:970px;
	height: 530px;
	background: #fff;
	border:solid 1px #eaeaea;
}

#fileEditorTitle
{
	float:left;
	margin-left: 10px;
	height:33px;
	line-height: 33px;
}

#fileEditorNavigationBar
{
	width:100%;
	height:33px;
	float:left;
	border-bottom:solid 1px #eaeaea;
	font: 13px Arial;
	line-height: 33px;
}

#btnCloseFileEditor
{
	height:35px;
	float:right;
	background: #474747 url(images/btnCloseBrowser.png) no-repeat right top;
	cursor: pointer;
	padding:0 35px 0 15px;
	font:13px Arial;
	color:#ccc;
	line-height:34px;
	position:relative;
	top:-1px;
	right:-1px;
}


#btnCloseFileEditor:hover
{
	background-position: right bottom;
	color:#fff;
	
}

#fileEditorContentsOuter
{
	width:100%;
	float:left;
	background: #fff;
}

#browserLeftCorner
{
	width:215px;
	height:496px;
	float:left;
	border-right:solid 1px #eaeaea;
	overflow-y:scroll;
	overflow-x:hidden;
}

.labelFavourites
{
	width:160px !important;
	height:19px !important;
	line-height:19px !important;
	padding:0 0 0 20px ;
	margin:25px 0 15px 10px  !important;
	background: url(images/favoritesTitleIcon.jpg) no-repeat left 3px;
}

#browserFavouritesList
{
	list-style: none;
	padding:0;
	margin:0 0 0 32px;
	float:left;
	min-width:140px;
}

#browserFavouritesList span
{
	float:left;
	clear:both;
	margin:0 0 6px 0;
	font: 13px Arial;
	color:#999999;
	cursor:pointer;
	text-decoration: none;
}

#browserFavouritesList span.selected
{
	color:#333;
	font-weight: bold;
}

.labelDirectory{
	width:139px !important;
	height:20px !important;
	line-height:18px !important;
	padding:0 0 0 20px ;
	margin:25px 0 13px 9px  !important;
	float:left;
	clear:left;
	background: url(images/directoryTitleIcon.jpg) no-repeat left 4px;
}

#browserDirectoriesOuter{
	float:left;
	margin:0 0 0 2px;
}

#syncElementsOuter{
    width: 18px;
    height: 18px;
    float:left;
    position:relative;
    margin: 27px 0 0 -60px;
}

#btnSync{
    width: 18px;
    height: 18px;
    float:left;
    cursor: pointer;
    background: url(images/btnSync.jpg) no-repeat;
}

#syncLoader{
    width:18px;
    height: 18px;
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    visibility: hidden;
    background: url(images/syncLoader.gif);
    background-size: 17px 18px;
}

#browserRightCorner
{
	width:700px;
	height:456px;
	float:left;
	padding:20px 27px;
	background: url(images/repeatBg.png);
}

.browserBigTitle
{
	font:20px Arial !important;
	color:#333 !important;
}

#addressBarOuter
{
	float:left;
	margin-right:15px;
}

#addressBarOuter a
{
	height:18px;
	float:left;
	background: url(images/navButtonsBg.png);
	margin:4px 0 0 8px;
}

#browserBtn_Home
{
	width:19px;
	background-position: 0px 0px !important;
}

#browserBtn_Home:hover
{
	background-position: 0px -18px !important;
}

#browserBtn_Refresh
{
	width:15px !important;
	background-position: -73px 0px !important;
}

#browserBtn_Refresh:hover{
	background-position: -73px -18px !important;
}

#browserBtn_Fav{
	width:18px;
	background-position: -19px 0px !important;
}

#browserBtn_Fav:hover,#browserBtn_Fav.active
{
	background-position: -19px -18px !important;
}

#browserBtn_Prev
{
	width:18px;
	background-position: -37px 0px !important;
}

#browserBtn_Prev:hover
{
	background-position: -37px -18px !important;
}

#browserBtn_NewDir
{
	width:22px;
	height:18px;
	float:left;
	margin:11px 0 0 5px;
	background: url(images/newFileIcon.png) 0 0px !important;
}

#browserBtn_NewDir:hover
{
	background-position: 0 -18px !important;
}

#browserBtn_UploadFile
{
	width:18px;
	cursor:pointer !important;
	overflow:hidden;
	background-position: -55px 0px !important;
}

#browserBtn_UploadFile:hover
{
	background-position: -55px -18px !important;
}

#browserBtn_UploadFile input[type=file]
{
	float:none !important;
	margin: 0 !important;
	background: transparent !important;
	opacity: 0 !important;
	width:18px !important;
	height:18px !important;
	cursor:pointer !important;
}

#browserSearchOuter
{
	float:right;
	margin:0;
    display:none;
	position:relative;
	z-index:100;
}

#browserSearchOuter label
{
	width: auto !important; 
}

#search_input
{
	width: 180px !important;
}


#searchAlertBox
{
	padding:5px 10px 5px 25px;
	background: #ccc url(images/search_alertbox_bg.png) no-repeat 6px center;
	color: #555;
	box-shadow: 0 0 3px #555;
	border-radius: 3px;
	font: 13px Arial;
	position:absolute;
	left:1px;
	top: 44px;
	z-index:10000;
}

#browserCotentsOuter
{
	width:700px;
	height:324px;
	float:left;
	margin:20px 0;
	position:relative;
	z-index:10;
}

#browserFilesListOuter
{
	width:100%;
	height:100%;
	float:left;
	/*border:solid 1px #eaeaea;*/
	position:relative;
	z-index:10;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #fff;
	box-shadow: inset 0 0 3px #aaa;
}

#fileEditorContentsLoader
{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:100;
	background: rgba(255,255,255,0.9) url(images/browserLoaderBg.png) no-repeat center;
	box-shadow: inset 0 0 40px 10px #eee;
    transition: opacity 0.15s
	-webkit-transition: opacity 0.15s;
	visibility:hidden;
	opacity:0;
}

#fileEditorContentsLoader span
{
	width:32px;
	height:32px;
	float:left;
	position:relative;
	left:50%;
	top:50%;
	margin: -16px 0 0 -16px;
	background: url(images/browserLoader.gif) no-repeat left top;
}

#editorDragFilesArea
{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background: url(images/dropfiles_bg.png);
	visibility:hidden;
	box-shadow:inset 0 0 1px #aaa;
	z-index: 1000;
}

#editorDragFilesArea span
{
	width:202px;
	height: 72px;
	float:left;
	position:relative;
	left:50%;
	top:50%;
	margin: -36px 0 0 -101px;
	background: url(images/dropfiles.png) no-repeat left top;
}

#browserFilesList
{
	width:684px;
	min-height:304px;
	float:left;
	margin:0 0 0 0;
	padding:0 0 22px 0;
	list-style: none;
	position:relative;
}

#browserFilesListScroller
{
	display:none;
	width:19px;
	height:320px;
	float:right;
	border-left:solid 1px #eaeaea;
}

#browserFilesList li
{
	width:125px;
	height:110px;
	/*border:solid 1px #cccccc;*/
	float:left;
	position:relative;
	margin:22px 0 0 21px;
	padding:10px;
	transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s linear;
	box-shadow: 0 0 3px #999;
	
}	

#browserFilesList li.selected
{
	background: #ebebe4;
	box-shadow: 0 0 3px #999;
}

#browserFilesList li.selected span
{
	color:#777 !important;
}

#browserFilesList .editorFileThumbOuter
{
	width:123px;
	height:87px;
	float:left;
	margin:1px 1px 6px 1px;
	position:relative;
	background: #fff url(images/fileloader.gif) no-repeat center;
}

#browserFilesList .editorFileThumb
{
	width:123px;
	height:87px;
	float:left;
	background:#fff;
	visibility:hidden;
	opacity:0;
	transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

#browserFilesList .thumbShadow
{
	width: 123px;
	height: 87px;
	display:block;
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	box-shadow: inset 0 0 5px #ccc;
}

.selected .editorFileThumbOuter{
	box-shadow: inset 0 0 5px #aaa;
}

#browserFilesList .loaderror
{
	background: url(images/exclamation.jpg) !important;
}

#browserFilesList .fileEditButtonsOuter
{
	position:relative;
	z-index:10;
	width:100%;
	height:20px;
	background: #fff;
	float:left;
	text-align: center;
	-webkit-transition:opacity 0.2s linear;
	opacity:0;
}

#browserFilesList li:hover .fileEditButtonsOuter
{
	opacity:1;
}

.file:hover .fileEditButtonsOuter
{
	visibility: visible;
	opacity:1;
}

.file:hover .fileName
{
	display:none;
}

#browserFilesList .fBtn
{
	display:inline-block;
	width:20px;
	height:20px;
	cursor:pointer;
	margin:0 3px;
}

#browserFilesList .btnEdit
{
	background: url(images/btnEdit.png) no-repeat left top;
}

#browserFilesList .btnEdit:hover
{
	background-position: left bottom;
}

#browserFilesList .btnLook
{
	background: url(images/btnView.png) no-repeat left top;
}

#browserFilesList .btnLook:hover
{
	background-position: left bottom;
}

#browserFilesList .btnPlay
{
	background: url(images/btnPlay.png) no-repeat left top;
}

#browserFilesList .btnPlay:hover
{
	background-position: left bottom;
}

#browserFilesList .btnDelete
{
	background: url(images/btnDelete.png) no-repeat left top;
}

#browserFilesList .btnDelete:hover
{
	background-position: left bottom;
}

#browserFilesList .btnDownload
{
	background: url(images/btnDownload.png) no-repeat left top;
}

#browserFilesList .btnDownload:hover
{
	background-position: left bottom;
}

#browserFilesList .fileName
{
	position:absolute;
	z-index:5;
	left:10px;
	bottom:6px;
	width:125px;
	height:20px;
	font:11px Arial;
	line-height:20px;
	color:#cccccc;
	float:right;
	text-align: center;
	cursor: default;
	overflow:hidden;
	
}

/* IF SELECTED **************************************************************************************/

#browserFilesList .selected .fileEditButtonsOuter
{
	background: #ebebe4;
}

#browserFilesList .selected .btnEdit
{
	background-position: left bottom;
}

#browserFilesList .selected .btnEdit:hover
{
	background-position: left top;
}

#browserFilesList .selected .btnLook
{
	background-position: left bottom;
}

#browserFilesList .selected .btnLook:hover
{
	background-position: left top;
}

#browserFilesList .selected .btnPlay
{
	background-position: left bottom;
}

#browserFilesList .selected .btnPlay:hover
{
	background-position: left top;
}

#browserFilesList .selected .btnDelete
{
	background-position: left bottom;
}

#browserFilesList .selected .btnDelete:hover
{
	background-position: left top;
}

/******************************************************************************************************/

#browserFilesList .uploadingText
{
	width:100%;
	height:17px;
	float:left;
	margin:40px 0 0 0;
	color:#333;
	font:13px Arial;
	text-align: center;
	line-height: 16px;
}

#browserFilesList .uploadBarOuter
{
	width:111px;
	height:11px;
	float:left;
	clear:both;
	margin:10px 0 0 6px;
	position:relative;
	overflow:hidden;
	border:solid 1px #6c6c6c;
	background: url(images/uploaderBarBg.jpg) repeat-x;
}

#browserFilesList .bar
{
	width:111px;
	height:11px;
	float:left;
	overflow:hidden;
	position:relative;
	top:0;
	left:-111px;
	transition:left 0.5s;
	-o-transition:left 0.5s;
	-moz-transition:left 0.5s;
	-webkit-transition:left 0.5s;
}

#browserFilesList .uploaderImage
{
	width:220px;
	height:19px;
	float:left;
	position:relative;
	top:-4px;
	left:-10px;
	background: url(images/loader.gif);
}

#browserFilesList .directory
{
	padding:10px;
	cursor: pointer;
	user-select: none;
}

#browserFilesList .file,#browserFilesList .file *
{
	user-select: none;
}

#browserFilesList .directory icon
{
	width:58px;
	height: 51px;
	display:block;
	background: url(images/folder.png) no-repeat left top;
	margin:20px auto 0 auto;
}

#browserFilesList .directory span
{
	width:118px;
	height:12px;
	float:left;
	margin: 15px 0 0 3px;
	font:13px Arial;
	color:#ccc;
	line-height: 12px;
	text-align: center;
}

#browserFilesList .directory input[type=text]
{
	margin:15px 0 0 0 !important;
	border:solid 1px #ccc !important;
	width:117px !important;
	height: 20px !important;
	padding:0 3px !important;
	line-height: 18px !important;
	font-size: 13px !important;
}

#browserBtnUseFiles
{
	float:right !important;
	margin:0 !important;
}

#browserBtnUseFiles.disabled
{
	opacity:0.5;
}

#browserBtnUseFiles.disabled:hover
{
	color:inherit;
	cursor:default;
	background-image: linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, rgb(237,237,237)),
		color-stop(1, rgb(255,255,255))
	);
	
}

/* COLLISION */

#selectorPlaceHolder
{
	display:none;
	width:0px;
	height:0px;
	position:absolute;
	left:-10px;
	top:-10px;
	z-index:100000;
	border:solid 1px #3399ff;
	background: rgba(168, 202, 236, 0.8);
	box-shadow: 0 0 2px #5fafff;
}

/*FILE TREE*/
.fileTree
{
	float:left;
	list-style: none;
	margin:0 0 0 12px;
	padding:0;
}

.fileTree li
{
	float:left;
	clear:left;
	cursor:pointer;
	position:relative;
	min-height: 20px;
	height:20px;
	overflow:hidden;
}

.fileTree li > icon
{
	width:16px;
	height: 16px;
	display:block;
	position:absolute;
	left:0;
	top:0;
	background: url(images/directory_close.png) no-repeat left top !important;
}

.fileTree li.expanded
{
	height:auto;
	overflow:visible;
}

.fileTree li.expanded > icon
{
	background: url(images/directory_open.png) no-repeat left top !important;
}

.fileTree .name
{
	margin:0 0 3px 16px;
	width:100%;
	height:17px;
	float:left;
	font:13px Arial;
	line-height:17px;
	color:#999;
	cursor: pointer;
	text-decoration: none;
}

.fileTree li.selected > .name
{
	font-weight:bold !important;
	color:#333 !important;
}

.fileTree li.empty icon
{
	background-image: none !important;
}