@CHARSET "UTF-8";

.editFileOuter label
{
	width:317px;
	height:25px;
	float:left;
	clear:left;
	display:block;
	margin:0 10px 3px 0;
	margin-top:10px;
	font:13px Segoe UI, Arial, Arial, Helvetica, sans-serif;
	line-height:25px;
	color:#828282;
}

.editFileOuter input[type=text],.editFileOuter input[type=password]
{
	float:left;
	clear:left;
	display:block;
	background:#fff url(images/inputBg_normal.png) repeat-x top;
	height:17px;
	width:305px;
	border:1px #e2e2e2 solid;
	outline:none;
	padding:5px;
	font:13px Segoe UI, Arial, Arial, Helvetica, sans-serif;
	color:#828282;
}

.editFileOuter input[type=text]:hover, .editFileOuter textarea:hover, .editFileOuter input[type=password]:hover
{
	border:1px #CCC solid;
	background:#FFF url(images/inputBg_hover.png) repeat-x;
}

.editFileOuter input[type=text]:focus, .editFileOuter textarea:focus, .editFileOuter input[type=password]:focus 
{
	border:1px #999 solid;
	background:#FFF url(images/inputBg_hover.png) repeat-x;
}

.editFileOuter
{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:1000;
}

.editFileBackHider
{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background: #000;
	opacity:0;
}

.editFileContentsOuter
{
	width:670px;
	height:460px;
	background: #fff url(images/editfileBg.jpg) left bottom repeat-x;
	position:absolute;
	padding:20px;
	left:50%;
	top:100px;
	margin:0 0 0 -380px;
	opacity:0;
}

.fileThumbArea
{
	width:420px;
	height:390px;
	float:left;
}

.fileThumbOuter
{
	width:420px;
	height:390px;
	float:left;
	position:relative;
	overflow: hidden;
	border:solid 1px #aaa;
	background: #fff url(images/cropAreaBg.png);
}

.jcrop-holder
{
	background: transparent !important;
}

.thumbLoaderOuter
{
	width:420px;
	height:390px;
	position:absolute;
	left:0;
	top:0;
	background: #eee;
	z-index:10;
	display:none;
}

.thumbloader
{
	width:54px;
	height:55px;
	position:absolute;
	z-index:15;
	left:183px;
	top:167px;	
}

.fileThumbButtonsOuter
{
	width:100%;
	height:40px;
	position:absolute;
	left:0;
	bottom:0;
	background: #888;
	z-index:10;
	text-align: center;
	line-height: 40px;
	border-top:solid 1px #aaa;
}

.fileThumbButtonsOuter .button, .fileThumbButtonsOuter button, .fileThumbButtonsOuter input[type=submit]
{
	position: static !important;
	display: inline-block !important;
	float: none !important;	
	margin: 0 5px !important;
	min-width: 40px !important;
}

.changeLogoOuter
{
	display:inline-block;
	position:relative;
	width:150px;
	height:20px;
}

.changeLogoOuter button, .changeLogoOuter input[type=file]
{
	position:absolute !important;
	left:0;
	top:0;
	float: none !important;	
	margin: 0 5px !important;
	min-width: 40px !important;
}

.changeLogoOuter input[type=file]
{
	width:130px !important;
	height:27px !important;
	z-index:10 !important;
	cursor:pointer;
	opacity:0;
}

.changeLogoOuter:hover button
{
	color:#FFF;
	background-image: linear-gradient(bottom, rgb(90,90,90) 50%, rgb(112,112,112) 100%);
	background-image: -o-linear-gradient(bottom, rgb(90,90,90) 50%, rgb(112,112,112) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(90,90,90) 50%, rgb(112,112,112) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(90,90,90) 50%, rgb(112,112,112) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(90,90,90) 50%, rgb(112,112,112) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, rgb(90,90,90)),
		color-stop(1, rgb(112,112,112))
	);
}

.infoForm label, .infoForm input[type=text]
{
	width:218px !important;
}

.fileInfosOuter
{
	width:228px;
	float:right;
	position:relative;
}

.saveSubmitButtonsOuter
{
	position:absolute;
	right:20px;
	bottom:18px;
}

.formButtons
{
	float:right;
}

.formButtons input
{
	float:left;
	clear: none !important;
	margin: 0 0 0 10px !important;
}

.cropFormButtons
{
	display:none;
}

.btnSave, .btnCancel
{
	float:right !important;
	clear:none !important;
	margin:30px 0 0 10px !important;
}

.editfileloader
{
	width:27px !important;
	height:27px !important;
	float:right !important;
	clear:none !important;
	margin:1px 0 0 10px !important;
	display:none;
}

.resultText
{
	position:absolute;
	right:184px;
	top:0px;
	display:block;
	width:450px;
	height:29px;
	font:12px Arial;
	color:#f00;
	text-align:right;
	line-height: 29px;
}

/* ---------------------------------------------------------------------------------------------------------- 
 CROP STYLES
------------------------------------------------------------------------------------------------------------*/

.cropInfoPanel
{
	width:230px;
	height:400px;
	background:#fff;
	position:absolute;
	left:0;
	top:0;
	display:none;
}

.cropInfoPanel select
{
	width: 229px !important;
}

.cropInfoPanel label
{
	width:200px !important;
	clear:none !important;
	margin:0 !important;
}

.cropInfoPanel input[type=checkbox]
{
	margin:10px 5px 0 0;
}

.relative
{
	position:relative;
}

.saveSubmitButtonsOuter .relative
{
	float:right;
	clear:none;
}

.predefinedResOuter
{
	width:100%;
	float:left;
	margin:0 ;
}

.custom_res_info
{
	float:left;
	clear:left;
	margin:20px 0;
	padding:5px 16px 15px 16px;
	border: dashed 1px #e2e2e2;
	opacity: 0.5;
}



.custom_res_info label
{
	width:80px !important;
	clear:none;
	text-align: center;
}

.custom_res_info .space
{
	width:35px !important;
	text-align: center;
	font-size:14px;
	line-height:29px;
}

.custom_res_info input[type=text]
{
	width:68px;
	margin:0;
	clear:none;
}

.existingResolutionsOuter
{
	width:218px;
	height:104px;
	float:left;
	clear:left;
	position:relative;
	border:solid 1px #aaa;
	padding:8px 0 0 8px;
	overflow-x: scroll;
	overflow-y: hidden; 
}

.existingResolutionsOuter .loader
{
	width:226px;
	height:112px;
	background: #eee;
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	display:none;
}

.existingResolutionsOuter .loader img
{
	width:31px;
	height:31px;
	position:absolute;
	left:97px;
	top:30px;
}

.existingResolutionsOuter ul
{
	height:80px;
	float:left;
	list-style: none;
}

.existingResolutionsOuter li
{
	width:98px;
	height:78px;
	position:relative;
	float:left;
	margin:0 9px 0 0;
	border: solid 1px #aaa !important;
}

.existingResolutionsOuter li img
{
	width: 98px;
	height: 78px;
	display:block;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	border:none !important;
}

.existingResolutionsOuter li span
{
	width:98px;
	height:15px;
	position:absolute;
	z-index:5;
	display:block;
	left:0;
	bottom:0;
	font: 12px Trebuchet MS;
	color:#fff;
	text-align: center;
	line-height: 15px;
	background: #aaa;
}

/*****************************************************************************/



.editfilePopupMenu, .editfilePopupMenu ul
{
	width:120px;
	min-height:25px;
	display:block;
	background: #eee;
	border:solid 1px #ccc;
	position:absolute;
	z-index:100;
	left:200px;
	top: -47px;
}

.editfilePopupMenu
{
	display:none;
}

.editfilePopupMenu ul
{
	left:auto;
	right:-123px;
	top:auto;
	bottom:0;
	margin:0;
	-webkit-transition: opacity 0.2s linear;
	opacity:0;
}

.editfilePopupMenu li
{
	width:100px;
	height:25px;
	float:left;
	font:13px Trebuchet MS, Arial;
	line-height:25px;
	color:#585858;
	cursor:pointer;
	position:relative;
	text-align: left;
	padding:0 10px;
}

.editfilePopupMenu li:hover ul
{
	opacity:1;
}

.editfilePopupMenu li:hover
{
	background: #585858;
	color:#eee;
}