<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="{%VIEW_URL%}css/panel.css" />
    <script type="text/javascript" src="{%VIEW_URL%}js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{%VIEW_URL%}js/SHA1.js"></script>
	<script type="text/javascript" src="{%VIEW_URL%}js/pages/complete_registration.js"></script>
	
	<script type="text/javascript">
	 var RecaptchaOptions = {
	    theme : 'custom',
	    custom_theme_widget: 'recaptcha_widget'
	 };
	</script>
	
</head>
<body style="background:url({%VIEW_URL%}images/menu_bg.png);">
    <div id="login">
        <div id="loginTop">
            <a href="" id="panelLogo"></a> 
        </div><!--loginTop-->
        <div id="loginFormCenterer">
	        <div id="loginOuter">
	        	<form method="post" onsubmit="return checkForm();">
					<input type="hidden" name="password"/>
					<input type="hidden" name="VPK" value="{%validatePageKey%}" />
					
					<label>Kullanıcı Adı:</label>
		            <input tabindex="1" id="username" type="text" name="username" value="{%username%}" />
		            <img id="usernameCheckLoader" src="{%VIEW_URL%}images/loader.gif" style="display:none; width:24px; height:24px; position:absolute; right:14px; top:73px;" />
		            <label>Parola:</label>
		            <input tabindex="2" id="password" type="password" />
		            
		            <label>Parola (Tekrar):</label>
		            <input tabindex="3" id="password_again" type="password" />	            
		            
		            
					<label>Captcha Kontrolü</label>
					<div id="recaptcha_widget" style="display:none">
						<div id="recaptcha_image"></div>
						<a id="get_new_captcha" href="javascript:Recaptcha.reload()">Yenile</a>
						<input tabindex="4" type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
					</div>
					

		            <button type="submit" name="admin_action" value="complete_registration" style="margin:20px 44px 2px 10px; float:right;">Kayıt Ol</button>
		            <label id="resultText" style="margin:22px 42px 0 0; float:right; text-align:right; width:320px; color: #fc5900;">{%resultText%}</label>
		            
		            <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LdIQM0SAAAAAIb1A3MVnO14HHEZ2Tf3oM-apN_c"></script>
	            </form>
	        </div><!--loginOuter-->
        </div>
    </div><!--login-->
</body>
</html>