<h2>Geliştiriciler:</h2>
<label style="margin:0; height:20px;">Developer:</label>
<label style="margin:0;"><a href="http://www.hazarartuner.com" target="_blank" class="c_666666 bold">M.Hazar Artuner</a></label>
<label style="margin:0; height:20px;">User Interface Design:</label>
<label style="margin:0; height:20px;" class="c_666666 bold"><a href="http://www.ardacan.net" target="_blank" class="c_666666 bold">Arda Can Kırkoç</a></label>

<h2 style="margin-top:20px;">Sistem Bilgileri:</h2>
<label style="margin:0; height:20px;">Panel Versiyonu: <span class="c_666666 bold">{%admin_version%}</span></label>
<label style="margin:0; height:20px;">Template Engine Versiyonu: <span class="c_666666 bold">{%template_version%}</span></label>

