<form method="post" id="editPermissionForm">
	<input id="old_permission_key" type="hidden" name="old_permission_key" value="{%permission.permission_key%}" />
	<label>Ebeveyn</label>
	<select name=permission_parent>
		<option value="">Yok</option>
		{%otherPermissionsHtml%}
	</select>
	
	<label>Yetki Anahtarı</label>
	<input id="new_permission_key" type="text" name="new_permission_key" value="{%permission.permission_key%}" />
	<img id="checkPermissionKeyLoader" src="{%VIEW_URL%}images/loader.gif" />
	<p id="checkPermissionKeyResultText"></p>
	
	<label>Yetki Adı:</label>
	<input type="text" name="permission_name" value="{%permission.permission_name%}" />
	
	<input type="submit" name="admin_action" value="Kaydet" />
</form>