<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body style="background: #fff; margin:0;">
		<table style="margin:20px auto 0 auto; padding:0; width:706px;">
			<tr style="display:block; width:616px; height:76px; background-color: #f8f9fa; margin:0; padding:25px 44px 0 44px; border:solid 1px #e4e4e4;">
				<td>
					<img style="float:left; margin:0 15px 0 0;" src="{%publicDataUrl%}mailIcon.png" />
					<span style="float:left; margin:8px 0 0 0; font:18px Segoe UI; line-height: 20px; color:#7f7f7f;">
						{%siteTitle%}<br />
						{%subject%}
					</span>
				</td>
			</tr>
			<tr style="background:#fff; border:solid 1px #e4e4e4; border-top:none; display:block; width:616px; clear:left; padding:55px 44px 65px 44px; font:13px Segoe UI; color:#7f7f7f;">
				<td>
					{%message%}
				</td>
			</tr>
		</table>
	</body>
</html>