<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="{%VIEW_URL%}css/panel.css" />
    <script type="text/javascript" src="{%VIEW_URL%}js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{%VIEW_URL%}js/SHA1.js"></script>
	<script type="text/javascript" src="{%VIEW_URL%}js/pages/newpassword.js"></script>
</head>
<body style="background:url({%VIEW_URL%}images/menu_bg.png);">
    <div id="login">
        <div id="loginTop">
            <a href="" id="panelLogo"></a> 
        </div><!--loginTop-->
        <div id="loginOuter">
        	<form method="post" onsubmit="return changePassword();">
        		<input type="hidden" name="user_id" value="{%user_id%}" />
        		<input type="hidden" name="reset_key" value="{%reset_key%}" />
				<input type="hidden" name="password"/>
	            <label>Yeni Parola:</label>
	            <input id="password_1" type="password" />
	            <label>Yeni Parola: (Tekrar)</label>
	            <input id="password_2" type="password" />
	            <input type="submit" name="admin_action" value="Kaydet" style="margin:20px 44px 2px 10px; float:right;" />
	            <label id="resultText" style="margin:0 44px 0 0; float:right; text-align:right; width:315px; height:auto !important; color: #fc5900;">{%resultText%}</label>
            </form>
        </div><!--loginOuter-->
    </div><!--login-->
</body>
</html>