<h2>Profil Bilgileri</h2>
<form method="post" onsubmit="return checkUserInfo();">
	<input type="hidden" name="user_id" value="{%user.user_id%}" />
	<input type="hidden" name="password" value="" />
	
	<label>Profil Resmi:</label>
	<input type="file" name="image_id" fileid="{%user.image_id%}" />
	
	<label>Görünen Ad:</label>
	<input type="text" name="displayname" value="{%user.displayname%}"/>
	
	<label>Doğum Tarihi:</label>
	<input type="date" name="birthday" value="{%user.birthday%}" />
	
	<label>Adı:</label>
	<input type="text" name="first_name" value="{%user.first_name%}" />
	
	<label>Soyadı:</label>
	<input type="text" name="last_name" value="{%user.last_name%}" />
	
	<label>Kullanıcı Adı:</label>
	<input type="text" name="username" value="{%user.username%}" readonly="readonly"/>
	
	<label>E-Posta:</label>
	<input id="email" type="text" name="email" value="{%user.email%}"/><div id="emailCheckLoader" class="portableALBOuter"><img src="{%VIEW_URL%}images/loader.gif" /><p></p></div>
	
	<label>Telefon:</label>
	<input type="text" name="phone" value="{%user.phone%}" />
	
	<label>Üyelik Tarihi:</label>
	<input type="datetime" name="register_time" value="{%user.register_time%}" readonly="readonly"/>
	
	<!-- <label>Kullanıcı Tipi:</label>
	<input type="text" value="" /> -->
	
	<label style="color:#fc5900; margin:30px 0 0 0;">Şifre Değiştir:</label>
	<label>Yeni Parola:</label>	
	<input id="password" type="password" value=""/>
	
	<label>Yeni Parola: (tekrar)</label>	
	<input id="password_again" type="password" value=""/>
	
	<input name="admin_action" type="submit" value="Kaydet" />
</form>