<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Parola Sıfırlama</title>
    <link rel="stylesheet" href="{%VIEW_URL%}css/panel.css" />
</head>
<body style="background:url({%VIEW_URL%}images/menu_bg.png);">
    <div id="login">
        <div id="loginTop">
            <a href="" id="panelLogo"></a> 
        </div><!--loginTop-->
        <div id="loginOuter">
        	<form method="post">
				<label>"Kullanıcı Adı" veya "E-Posta"</label>
	            <input type="text" name="username_or_email" value="{%username_or_email%}" />
	           
	            <input type="submit" name="admin_action" value="Sıfırla" style="margin:20px 44px 2px 10px; float:right;" />
	            <label style="margin:0 44px 0 0; float:right; text-align:right; width:315px; height:auto !important; color: #fc5900;">{%resultText%}</label>
            </form>
        </div><!--loginOuter-->
    </div><!--login-->
</body>
</html>