<h2>Ayarlar</h2>
<form method="post">
	<label style="color:#fc5900;">SEO Ayarları</label>
	<label>Site Adresi</label>
	<input name="siteAddress" type="text"  value="{%stg.admin_site_address%}"/>
	<label>Site Başlığı</label>
	<input type="text" name="siteTitle" {%siteTitleValue%}/>
	<label>Description</label>
	<textarea name="description" style="height:100px;" {%siteDescriptionI18N%} >{%siteDescriptionValue%}</textarea>
	<label>Keywords</label>
	<textarea name="keywords" style="height:100px;" {%siteKeywordsI18N%}>{%siteKeywordsValue%}</textarea>
	<label>Google Analytics Code</label>
	<textarea name="analystics"  style="height:100px;">{%stg.admin_analystics%}</textarea>
	
	<label style="color:#fc5900;">Mail Ayarları</label>
	
	<label>Mail Protokolü</label>
	<label>SMTP <input type="checkbox" name="smtp" {%stg.admin_isSmtpMail%} /></label>
	
	<label>Gönderen Mail Adresi:</label>
	<input name="mailUser" type="text" value="{%stg.admin_mail_user%}"/>
	
	<div id="smtpSettingsOuter">
		<label>Gönderen Parola:</label>
		<input name="mailPassword" value="{%stg.admin_mailPassword%}" type="password"/>
		<label>Gönderen Mail Host:</label>
		<input name="mailHost" type="text" value="{%stg.admin_mailHost%}"/>
		<label>Gönderen Mail Port:</label>
		<input name="mailPort" type="text" value="{%stg.admin_mail_port%}"/>
	</div><!-- smtpSettingsOuter -->
	
	<label style="color:#fc5900;">Mail Yönlendirme</label>
	<label style="width:700px;">Yönlendirme Adresi: &nbsp;&nbsp;&nbsp;&nbsp;<span class="italic">( maillerinizin yönlendirilmesini istediğiniz adresi belirtin! )</span></label>
	<input name="getMailAddress" type="text" value="{%stg.admin_get_mail_address%}"/>
	
	<label style="color:#fc5900;">Sosyal Network Ayarları</label>
	<label>Facebook:</label>
	<input name="facebook" type="text" value="{%stg.admin_facebook%}" />
	<label>Twitter:</label>
	<input name="twitter" type="text" value="{%stg.admin_twitter%}"/>
<input name="admin_action" type="submit" value="Kaydet" />
</form>
  	