@CHARSET "UTF-8";

.dataGridOuter
{
	width: 100%;
	float:left;
	clear:both;
}

.dataGridOuter .dataGridOuter ul{
    margin:0 0 0 40px !important;
}

.dataGridTitle
{
	width:75% !important;
	float:left;
}

.dataGridAddButton
{
	float:right;
	clear:none; 
	margin:0;
}

.itemsList
{
	width:100%;
	float:left;
	background:#FFF;
	margin: 10px 0 30px 0;
}

.itemsList li
{
	width:100%;
	float:left;
	clear:left;
}

.itemsList li > .itemsList
{
	margin: 0 0 0 25px;
}

.ui-sortable > li, .ui-sortable > li label
{
	cursor: move;
}

.itemsList > li > .item 
{
	background:#FFF url(../images/cell_bg.png) repeat-x bottom;
	border:1px #c6c6c6 solid;
	height:20px;
	padding:10px;
	margin:-1px 0 0 0;
}

.itemsList > li.image_grid_item > .item, .itemsList > li.image_grid_item > .item p{
    height:75px;
}

.itemsList > li.image_grid_item > .item .rowEditButtonsOuter{
    margin-top:27.5px;
}

.itemsList > li input[type=radio], .itemsList > li input[type=checkbox]
{
	position:relative;
	top:-5px;
}

.itemsList > li .text
{
	width:550px;
	height:24px;
	overflow:hidden !important;
	margin:0 !important;
	float:left;
	font:bold 14px Segoe UI, Arial, Arial, Helvetica, sans-serif !important;
	color:#666666 !important;
}

.itemsList > li .item:hover 
{
	background:#ECF5FF;
}

.itemsList > li a 
{
	font:12px Segoe UI, Arial, Arial, Helvetica, sans-serif;
	color:#666666;
	font-weight:bold;
	list-style:none;
	margin-left:5px;
	text-decoration:none;
	float:right;
	line-height: 20px;
}

.rowEditButtonsOuter {
	height:20px !important;
	display:block;
	float:right;
	padding:0;
	margin:0 0 0 20px;
	position:relative;
	top:0px;
}

.editBtn{
	width:14px;
	height:14px;
	margin-top:3px;
	float:right;
	cursor:pointer;
	background: url(../images/edit_btn.png) no-repeat left top;
}

.editBtn:hover{
	background-position: left bottom;
}

.crossBtn {
	width:20px;
	height:20px;
	margin-top:0;
	background: url(../images/close_btn.png) no-repeat center top;
	float:right;
	cursor: pointer;
}

.crossBtn:hover {
	background-position: center -20px;
}

.crossBtn img
{
	width:16px; 
	height:16px;
	margin:2px 0 0 2px; 
	float:left;
	display:none;
}

.activation
{
	color:#fc5900 !important;
}

.deactivation
{
	color:#0e0 !important;
}

.remove
{
	color:#fc5900 !important;
}