<div id="profile_text">
    <p>
        {%ABOUT_ME%}
    </p>
</div>
<p id="profile_title">Instagram</p>
<ul class="dataGrid column4">
    <li>
        <a href="http://instagram.com/p/e2xCoaKsUN/" target="_blank">
            <img src="{%VIEW_URL%}images/m1.png" onload="fadeOut(this);">
        </a>
    </li>
    <li>
        <a href="http://instagram.com/p/W7unS2qsVi/" target="_blank">
            <img src="{%VIEW_URL%}images/m2.png" onload="fadeOut(this);">
        </a>
    </li>
    <li>
        <a href="http://instagram.com/p/eaapW8KsQS/" target="_blank">
            <img src="{%VIEW_URL%}images/m3.png" onload="fadeOut(this);">
        </a>
    </li>
    <li>
        <a href="http://instagram.com/p/e2w37YKsT0/" target="_blank">
            <img src="{%VIEW_URL%}images/m4.png" onload="fadeOut(this);">
        </a>
    </li>
</ul>